div{
    font-family:Avenir Next;
}
body{
	font-family: sans-serif;
}
.style-box{
	width: 1000px;
	background: rgb(238, 251, 255);
    margin:  auto;
    padding: 50px 20px;
}
ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}
.layout-main h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.table{
    padding-left: 40px;
    padding-right: 40px;
}
.tab-navbar{
    padding-left: 40px;
    padding-right: 40px;
}
.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}
.chart-container-jk {
    position: relative;
    margin: auto;
    height: 30vh;
    width: 30vw;
}
.chart-container-usia{
    position: relative;
    margin: auto;
    height: 30vh;
    width: 30vw;
}